/* ------------------------------------------------------------------------ */
/* VC Backend Styling
/* ------------------------------------------------------------------------ */

.icon-wpb-sd-blog { background-image: url(../icons/sd-blog-icon.png); }
.icon-wpb-sd-events { background-image: url(../icons/sd-events-icon.png); }
.icon-wpb-sd-staff { background-image: url(../icons/sd-staff-icon.png); }
.icon-wpb-sd-gmap { background-image: url(../icons/sd-gmap-icon.png); }
.icon-wpb-sd-icon-box { background-image: url(../icons/sd-icon-box-icon.png); }
.icon-wpb-sd-testimonials { background-image: url(../icons/sd-testimonials-icon.png); }